@tailwind base;
@tailwind components;
@tailwind utilities;

.home-page{

   bottom: 0rem;
}
body{
   background-color: black;
   display: grid;

   
}
.home_title{
   font-size: 1.7rem;
   list-style: none;
   display:inline;
   position:relative;
   top: 1.5rem;
   left: 10rem;
   padding-left: 20px;
   font-weight: bold;
   color: aquamarine;
}
.nav-links{
   font-size: 1rem;
   list-style: none;
   display: inline;
   padding:0px 0px 0px 40px;
   font-family: Helvetica, Arial, sans-serif;
   position: relative;
   top: 0rem;
   left: 90rem;
   color: gray;
   cursor: pointer;
  
}
.nav-links:hover{
   transform: scale(4.0);
   /* transition-delay: 85ms; */
   color: white;
}

.home_page{
   color: aliceblue;
}

.main_photo{
   padding-top: 30px;
   padding-left: 20px;
   padding-bottom: 1rem;
   bottom: 0rem;
   size: 10rem;
   width: 25%;
   height: 70%;
}

.backdrop{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000000e1;
   display: flex;
   align-items: center;
   justify-content: center;
   
}

.modal{
   width: clamp(50%, 700px, 90%);
   height: min (50%, 300px);
   margin:auto;
   padding: 5rem 2rem;
   border-radius: 12px;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #D3D3D3;
   color:black;
   
}

.social-media{
   list-style: none;
   display: inline;
   padding:0px 0px 0px 40px;
   position: relative;
   left: 0;
}
.social-logo{
   list-style: none;
   display: inline;
   padding:0px 0px 0px 10px;
   bottom: 0rem;
   left: 0rem;
   position: relative;
   width:5rem;
   bottom: .5rem;
}
.social-logo:hover{
   cursor:pointer;
}
.project_title{
  
   font-family: Helvetica, Arial, sans-serif;
   font-size: 2rem;
   left: 0;
    line-height: 200px;
    margin-top: 200px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;

   
}

.save-button1{
   background-color: white; 
   border: none;
   border-radius: 8px;
   border: 2px solid grey;
   color: #000000e1;
   padding: 12px 28px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 12px;
   box-decoration-break: slice;
}

.contact-title{
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-shadow: 1px 1px 1px white, 2px 2px 1px white;
   font-size: 2.5rem;
   position: fixed;
   top: 0px;
   justify-content: center;
}


.contact-close{
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 1.2rem;
   position: fixed;
   text-align: left;
   top: 0.5rem;
   left: 1rem;
   
}

input[type=text]{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 8px;
}

input[type=Submit]{
   background-color: white;
   border-radius: 4px;
   padding: .3rem;
}
input[type=Submit]:hover{
cursor: pointer;

}

.profession{
   
   font-family: Georgia, 'Times New Roman', Times, serif;
   
   left: 0;
   line-height: 50px;
   margin-top: 200px;
   position: absolute;
   text-align: center;
   justify-content: center;
   top: 0%;
   width: 100%;
   
}
.profession-name{
   font-size: 4.0rem;
   font-weight: bolder;
}
.profession-title{
font-size: 1.75rem;
font-weight: lighter;
color:#D3D3D3;
}

.tech{
   left: 0;
    line-height: 50px;
    margin-top: 900px;
    position: absolute;
    text-align: center;
    justify-content: center;
    top: 0%;
    width: 100%;
}

.tech-stack ul {
   list-style-type: none;
}

.tech-stack ul li {

}
